.carousel-item img {
    max-height: 500px;
    width: 100%;
    filter: grayscale(70%);
}

nav {
    background: transparent;
}

.my-nav {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.navbar a {
    color: dodgerblue;
}

.dropdown-menu a {
    color: black;
}

.carousel {
    box-shadow: 0px 3px 5px dodgerblue;
}

.bg-dark {
    box-shadow: 0px 3px 5px grey;
}

.carousel-inner {
    position: relative;
    text-align: center;
    color: white;
}

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
    font-family: 'Josefin Sans', sans-serif;
}

.location {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 100px;
}

.section-title {
    width: 100%;
    background: dodgerblue;
    padding: 5px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    text-align: center;
}

.quote {
    margin-left: 100px;
    border-left: 5px solid dodgerblue;
    padding-left: 15px;
    margin-top: 30px;
    font-size: 40px;
    font-weight: 900;
}

.img-container {margin-top: 50px;}

.about img.small {
    width: 300px;
    height: 266px;
    filter: grayscale(0%);
}

.about img.large {
    width: 720px;
    height: 266px;
    filter: grayscale(0%);
}

.imgsmallcontainer {
    position: relative;
    text-align: center;
}

.img-text {
    position: absolute;
    width: 100%;
    background: white;
    border: 2px solid black;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: dodgerblue;
    font-weight: 900;
}

